body {
  font-family: "Barlow Semi Condensed", sans-serif;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "daniel daniel john kira"
    "janet patrick patrick kira";
  gap: 2rem;
  width: 90vw;
}
.padding{
  padding: 1rem 2.5rem 0rem 2.5rem;
}
img {
  width: 1.75rem;
  aspect-ratio: 1;
  margin-right: 10px;
}
.name {
  display: inline-block;
  color: hsl(0, 0%, 81%);
}
.description {
  color: hsl(0, 0%, 81%);
  opacity: 50%;
  display: inline-block;
}
.heading {
  color: hsl(210, 46%, 95%);
}
.review {
  color: white;
  opacity: 70%;
}
.janet-kira {
  color: hsl(217, 19%, 35%);
}
.janet-kira-description {
  color: hsl(217, 19%, 35%);
  opacity: 50%;
}
.janet-kira-review {
  color: hsl(217, 19%, 35%);
  opacity: 70%;
}
.heading-kira {
  color: black;
  opacity: 70%;
}
.daniel {
  grid-area: daniel;
  background-image: url("images/bg-pattern-quotation.svg");
  background-repeat: no-repeat;
  background-position: top right 10%;
  border-radius: 10px;
  background-color: hsl(263, 55%, 52%);
}
.john {
  grid-area: john;
  border-radius: 10px;
  background-color: hsl(217, 19%, 35%);
}
.janet {
  color: black;
  grid-area: janet;
  border-radius: 10px;
  background-color: hsl(0, 0%, 100%);
}
.kira {
  grid-area: kira;
  border-radius: 10px;
  background-color: white;
}
.patrick {
  grid-area: patrick;
  border-radius: 10px;
  background-color: hsl(219, 29%, 14%);
}

@media only screen and (max-width: 580px){
 
 .container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "daniel"
  "john"
  "janet"
  "patrick"
  "kira"
    ;
}
.padding{
  padding: 1rem 2.5rem 1rem 2.5rem;
}
}